<h2>Hello, <%= "#{@ticket.customer_name}!" %></h2>

<p>Your ticket is created. Reference is <%= "#{@ticket.reference}" %></p>

<p>You can monitor the status of request by the following url: <%= ticket_url @ticket %></p>

<p>Best Regards,<br/>Support Service</p>
